<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LBffmpegDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6A2269831F0F2D4500E8714F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A22699C1F0F2D4500E8714F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A2269A71F0F2D4500E8714F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
